/* postion absolute */
* {
  box-sizing: border-box;
}
body {
  width: 98vw;
  background-color: #674aae;
  background-image: url(images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}
.container {
  height: 120vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.logo-container {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.logo {
  margin: 0 10%;
}
.body-container {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.section-one {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.mockups {
  object-fit: scale-down;
  transform: scale(0.85);
}
.section-two {
  height: 60%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.3em;
  color: #fff;
  margin-bottom: 10px;
}
.text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin: 10px 0;
  font-size: 1.1em;
  width: 100%;
  font-weight: 400;
}
.bttn {
  border-style: none;
  border-radius: 2em;
  box-sizing: border-box;
  margin: 25px 0;
  height: 12%;
  width: 40%;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  color: #674aae;
  background-color: #fff;
  transition: background-color 0.4s ease;
  box-shadow: 0 0 20px #2b1a55;
}
.bttn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #e882e8;
}
.social-media-container {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  margin: 0;
  padding: 0 8%;
}
.fa-facebook-square,
.fa-instagram,
.fa-twitter {
  color: #fff;
  margin: 0 12px;
}
.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-twitter:hover {
  cursor: pointer;
  color: #e882e8;
}
.circle-icon {
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 11px;
  border: 1px solid #fff;
}
.circle-icon:hover {
  cursor: pointer;
  border: 1.5px solid #e882e8;
}
.attr-container {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
.attr {
  font-size: 0.8em;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.attr a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  color: #e882e8;
}
@media screen and (max-width: 1024px) {
  .logo {
    margin: 0 5%;
    transform: scale(0.8);
  }
  .section-one {
    height: 80%;
    width: 50%;
  }
  .mockups {
    transform: scale(0.7);
  }
  .section-two {
    height: 80%;
    width: 40%;
    padding: 0 5px;
    margin: 0;
  }
  .title {
    font-size: 2.3em;
    margin-bottom: 10px;
  }
  .text {
    margin: 10px 0;
    font-size: 1.1em;
  }
  .bttn {
    height: 8%;
    width: 40%;
    font-size: 1.1em;
  }
  .social-media-container {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 991px) {
  body {
    background-image: url(images/bg-mobile.svg);
  }
  .logo {
    transform: scale(1);
    margin: 0 0 0 15%;
  }
  .body-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .section-one {
    height: 50%;
    width: 100%;
  }
  .mockups {
    transform: scale(0.8);
  }
  .section-two {
    height: 30%;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    margin: 0;
    text-align: center;
  }
  .title {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
  }
  .text {
    margin: 5px 0;
    font-size: 1.2em;
  }
  .bttn {
    padding: 8px;
    height: 25%;
    width: 40%;
    font-family: "Poppins", sans-serif;
    font-size: 1.3em;
  }
  .social-media-container {
    justify-content: center;
  }
}
@media screen and (max-width: 640px) {
  body {
    background-image: url(images/bg-mobile.svg);
  }
  .container {
    overflow-y: scroll;
  }
  .logo {
    transform: scale(0.7);
    margin: 0 5%;
  }
  .body-container {
    flex-direction: column;
    justify-content: space-around;
  }
  .section-one {
    height: 40%;
    width: 100%;
  }
  .mockups {
    transform: scale(0.45);
  }
  .section-two {
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px;
    margin: 0;
    text-align: center;
  }
  .title {
    font-size: 1.5em;
    margin: 15px 0 10px 0;
    padding: 0;
  }
  .text {
    padding: 5px 8px;
    font-size: 1em;
    width: 100%;
  }
  .bttn {
    height: 15%;
    width: 50%;
    font-size: 1.3em;
  }
  .social-media-container {
    justify-content: center;
  }
}
